
/* Reconcile with components library code / pre / & tag class */

.code--block,
.code--slim {
  font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  color: #0b0c0c;
  font-size: 14px;
}

// Code styling
.code--block {
  border: none;
  margin: 0;
  line-height: 1.5em;
  padding: 10px;
  word-wrap: break-word;
}

.code--slim {
  border: 1px solid #DFE0E7;
  border-radius: 4px;
  padding: 2px 4px;
  display: inline-block;
  background-color: #F7F7F7;
  line-height: 1.1em;
}
