.hero {
  overflow: hidden;
  background: #1d70b8;
  color: #ffffff;
  &-text {
    color: #ffffff !important;
    &-link {
      color: #ffffff !important;
      &:focus {
        color: #000000 !important;
      }
    }
  }
  &-button {
    color: #1d70b8 !important;
    background-color: #ffffff !important;
    box-shadow: 0 2px 0 #003078 !important;
    &:focus {
      border-color: #003078 !important;
    }
  }
  &-padding-top {
    padding-top: 25px;
  }
}