
/* PR in assets frontend exists */

.table--align-top {
  tr td {
    vertical-align: top;
    font-size: 16px ;
  }
}

.table__caption--low-vis {
  font-size: 0px;
  line-height: 0px;
  color: transparent;
  border: none;
}

.table__row--nested-1 {
  .table__detail--responsive:first-of-type {
    padding-left: 20px;
  }
}

.margin-top {
    margin-top: 10px;
}

.table__row--nested-2 {
  .table__detail--responsive:first-of-type {
    padding-left: 40px;
  }
}

.table__row--nested-3 {
  .table__detail--responsive:first-of-type {
    padding-left: 60px;
  }
}

.table__row--nested-4 {
  .table__detail--responsive:first-of-type {
    padding-left: 80px;
  }
}

.table__row--nested-5 {
  .table__detail--responsive:first-of-type {
    padding-left: 100px;
  }
}

.table__row--nested-6 {
  .table__detail--responsive:first-of-type {
    padding-left: 120px;
  }
}

.table__row--nested-7 {
  .table__detail--responsive:first-of-type {
    padding-left: 140px;
  }
}

.parameter-name {
  font-size: 16px;
}

.parameter-required {
  color: #f47738;
  font-size: 14px;
  font-weight: normal;
}

.parameter-type,
.parameter-optional {
  color: #888;
  font-size: 14px;
  font-weight: normal;
}

.table__col--1-2 {
  width: 50%;
}

.table__col--1-3 {
  width: 33%;
}

.table__col--2-3 {
  width: 66%;
}

.table__col--1-4 {
  width: 25%;
}

.table__col--3-4 {
  width: 75%;
}

.table__cell-contents--responsive {
  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 960px) {
  .table__row--desktop-heading {
    display: none;
  }

  .parameter-name,
  .table__detail--responsive:first-of-type {
    font-weight: bold;
  }

  .table__row--responsive {
    margin-bottom: 10px;
    display: block;
  }

  .table__row--responsive:after {
    content: "";
    display: table;
    clear: both;
  }

  .table__row--responsive:before {
    display: block;
    border-bottom: 2px solid #ddd;
  }

  .table__detail--responsive {
    box-sizing: border-box;
    display: block;
    float: left;
    clear: left;
    width: 100%;
    border: none;
  }

  .table__detail--responsive:before {
    content: attr(data-heading);
    font-weight: normal;
    color: #777;
    float: left;
    width: 30%;
    white-space: nowrap;
  }

  .table__detail--responsive:last-of-type {
    border-bottom: 1px solid #ccc;
  }

  .table__row--nested-1,
  .table__row--nested-2,
  .table__row--nested-3,
  .table__row--nested-4,
  .table__row--nested-5,
  .table__row--nested-6,
  .table__row--nested-7 {
    .table__detail--responsive,
    .table__detail--responsive:first-of-type {
      padding-left: 0;
    }

    td:before {
      left: 0px;
    }
  }

  .table__cell-contents--responsive {
    display: block;
    margin-left: 30%;

    p {
      margin-bottom: 0.3em;
    }
  }
}
