/* .side-nav overrides till get changes in to frontend-assets */

// Override original styles
.side-nav__list--selected,
.side-nav__list--selected:hover {
  a.side-nav__link {
    color: #2e8aca;

    &:visited {
      color: #1d70b8;
    }

    background-color: white;
    &:focus {
      background-color: #ffbf47
    }
  }
}

// Re-implement restricting to immediate children
.side-nav__list--selected,
.side-nav__list--selected:hover {
  > .side-nav__link {
    color: white !important;
    background-color: #005ea5 !important;
  }
}

// Submenu styles
ul.fixed-navigation__sub-list {
  display: block;
  border-left: 4px solid #bfc1c3;
  list-style-type: none;
  padding-left: 0;
  > li.side-nav__list {
    a:hover {
      color: #2e8aca;
      background-color: #fff;
      &:focus {
        background-color: #ffbf47
      }
    }

    &.side-nav__list--selected {
      a:hover {
        color: white !important;
        background-color: #005ea5 !important;
      }
    }
  }
}

// Hide sub-navs of NOT selected menu items
.js-enabled .side-nav__list:not(.side-nav__list--selected) {
  ul.fixed-navigation__sub-list {
    display: none;
  }
}

// Nav link styling
.side-nav__link {
  color: #1d70b8;
  font-family: "GDS Transport",Arial,sans-serif;
  display: block;
  position: relative;
  border-radius: 0;
  margin-bottom: 5px;
  text-decoration: none;
  &:visited {
    color: #1d70b8;
  }
}

.affix {
    top: 20px;
    width: 240px;
    position: fixed;
}

.affix-bottom {
    position: absolute;
    bottom: 0px;
}

.sticky-nav__wrapper {
  position: relative;
  margin-top: 1.2em;
}

.govuk-side-nav-content {
  padding-top: 0;
}

@media (min-width: 40.0625em) {
  .govuk-side-nav-content {
    padding-top: 30px;
  }
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  #fixed-navigation {
    display: none;
  }

  .indent {
    border-left-width: 1px;
  }
}

// APIS-1127 - iOS touch scroll jittery fixed elements fix
.side-nav__component {
  padding: 0;
  margin-top: 0;
  list-style-type: none;
  background-color: white;
  transform: translate3d(0px, 0px, 0px) translateZ(0);
}

@media (min-width: 40.0625em) {
  .side-nav__component {
    margin-top: 16px;
  }
}

// APIS-1198 - fix menu resize isssue, hide chevrons for in-page nav
.side-nav__link.side-nav__link--in-page:after {
    content: "";
}

// APIS-3807 - override hover style on left nav so it passes accessibility colour contrast tests
.side-nav__link:hover {
  background-color: #fff;
  text-decoration: underline;
}

// APIS-3807 - this bit makes sure that the :hover style doesn't override the :focus style
.side-nav__link:focus {
  background-color: #ffbf47;
}

