// API Version drop down box - to be fixed
#content {
  position: relative;
}

.form-control-version {
  font-size: 16px;
  width: 90%;
  margin: 0.333em 0 0 10%;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  .form-control-version {
    width: 100%;
    margin: 0.333em 0;
  }
}



// APIS-1076 - Temporary vertical alignment for Sandbox tables.
.sandbox-data {
  td {
    vertical-align: top
  }
}



// APIS-1079 - Add margin to bottom of bullets.
.bullets + p {
  margin-top: 1.2em;
}



// APIS-1066 - Override javascript added class hiding top mobile menu toggle
.js .js-header-toggle.menu.js-hidden {
  display: block !important;
}


.header__menu .header__menu__proposition-links {
    float: none;
}


.header__menu__proposition-links {
    margin-top: -2.2em;
    .link-style {
        color: #005ea5;
        font-weight: normal;
        text-decoration: underline;
    }
}

.beta-banner .phase-tag {
    background-color: #005ea5;
}


.header__menu__proposition--sub-header {
    display: none;
}


@media (min-width: 769px) {
  #global-header .header-proposition #proposition-links li {
    float: left;
    display: block;
    width: auto;
    padding: 0 15px 0 0;
    border-bottom: 0;
  }
  #global-header .header-proposition #proposition-links li.desktop-only {
    display: none;
  }
  #global-header .header-proposition #proposition-links li.clear-child {
    clear: left;
  }
}

@media (min-width: 801px) {
  .header__menu__proposition--sub-header {
      display: block;
  }
}

// Put navigation inline
@media (max-width: 640px) {
.page-nav__item {
    width: 50%;
}

.page-nav__link--previous {
  padding: rem(14) 0 rem(14) rem(48);
}

.page-nav__link--next {
  padding: rem(14) rem(48) rem(14) 0;
}
}

// pagination
.pagination {
  border-top: 1px solid #bfc1c3;
  border-bottom: none;
  display: block;
  margin: 2em 0 0;
  padding-top: 20px;

  li.previous {
    float: left;
    text-align: left;
  }

  li.next {
    float: right;
    text-align: right;
  }
}

.fraud-header-name-col {
  width: 40%;
}

.fraud-header-description-col {
  width: 60%;
}

ol.connection-method-list {
  list-style-type: upper-alpha;
}

// APIS-3257
tbody {
    vertical-align: top;
}
td {
    vertical-align: baseline;
}

pre, code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.list-letter-lower {
    list-style-type: lower-alpha;
    padding-left: 20px;
}

.list-letter-upper {
    list-style-type: upper-alpha;
    padding-left: 20px;
}

// Show side navigation on monile phone - discuss with Rory about a better solution to this, a sub navigation responsive menu
.side-nav {
  display: block;
}

// remove arrows as they work poorly on a screenreader
.side-nav__link:after {
  content: "";
}

// Remove sub navigation right border on a mobile phone
.side-nav {
  border-right: none;
}

// Add sub navigation right border back in for desktop application. uses breakpoint defined in GOV UK frontend toolkit.
@media(min-width: 769px) {
  .side-nav {
    border-right: 1px solid #bfc1c3;
  }
}

@media (min-width: 641px) {
    .column-three-quarters {
        float: left;
        width: 75%;
    }
}

.column-three-quarters {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.side-nav__link {
    padding: 12px 15px 8px 15px;
}

.form-control-version {
    font-size: 16px;
    width: 90%;
    margin: 0.333em 0 0 10%;
}

.float--right {
    text-align: right;
}

.border__top-bottom--open:first-of-type {
    border-top: 0;
}

.border__top-bottom {
    border-top: 1px solid #bfc1c3;
    border-bottom: 1px solid #bfc1c3;
}

.border--light-grey {
    border-color: #dee0e2;
}

.accordion__row {
    padding: .78947em .63158em .78947em .63158em;
    background-color: #f8f8f8;
    display: table;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.api-accordion__row {
    background-color: white;
    padding: 0.5em 0 0.5em;
}


.accordion__button:visited {
    color: #005ea5;
}

.arrow {
    color: #2e8aca;
    font-style: normal;
    font-size: 20px;
    width: 12px;
    height: 23px;
    margin: 0 3px 0 0;
    display: inline-block;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.arrow--right {
    content: "▸";
}

code.snippet--inline {
    background-color: transparent;
    border: none;
    padding: 0;
    color: #6f777b;
}

.snippet--inline {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.no--underline {
    text-decoration: none !important;
}

.align--middle {
    vertical-align: middle !important;
}

.table__col--1-4 {
    width: 25%;
}

.http-verb {
    color: white;
    border-radius: 5px;
    padding: 0.2em 0.5em 0.1em;
    margin-bottom: 0.2em;
    margin-left: 0.4em;
    font-size: 16px;
}

.http-verb--get {
    background-color: #2b8cc4;
}

.http-verb--post {
    background-color: #85994b;
}

.http-verb--put {
    background-color: #28a197;
}

.http-verb--delete {
    background-color: #df3034;
}

.indent {
    font-family: "nta",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    border-left: .52632em solid #DEE0E2;
    display: block;
    margin: .42105em 0 .84211em;
    overflow: hidden;
    padding: .21053em .42105em;
}

@media (min-width: 641px) {
    .indent {
        font-size: 16px;
        line-height: 1.25;
    }
}

.endpoint_group .indent {
    border: 1px solid #dee0e2;
    border-left-width: 0.3em;
}