// API Version drop down box - to be fixed
#content {
  position: relative;
}

.form-control-version {
  font-size: 16px;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  .form-control-version {
    width: 100%;
    margin: 0.333em 0;
  }
}



// APIS-1079 - Add margin to bottom of bullets.
.bullets + p {
  margin-top: 1.2em;
}

.service-info {
  .header__menu__proposition-links {
    margin-top: 0em;
  }
}



// APIS-1066 - Override javascript added class hiding top mobile menu toggle
.js .js-header-toggle.menu.js-hidden {
  display: block !important;
}


.header__menu .header__menu__proposition-links {
    float: none;
}


.header__menu__proposition-links {
  padding-top: 0.75em;
  padding-bottom: 0.75em;

    .link-style {
        color: #005ea5;
        font-weight: normal;
        text-decoration: underline;
    }
}

.beta-banner .phase-tag {
    background-color: #005ea5;
}


.header__menu__proposition--sub-header {
    display: inline-block;
    float: right;
}


@media (min-width: 769px) {
  #global-header .header-proposition #proposition-links li {
    float: left;
    display: block;
    width: auto;
    padding: 0 15px 0 0;
    border-bottom: 0;
  }

  #global-header .header-proposition #proposition-links li.desktop-only {
    display: none;
  }

  #global-header .header-proposition #proposition-links li.clear-child {
    clear: left;
  }
}

@media (max-width: 769px) {
  .header__menu__proposition--sub-header {
    display: none;
  }
}

@media (min-width: 801px) {
  .header__menu__proposition--sub-header {
    display: inline-block;
    float: right;
    width: 25%;
  }
}

.fraud-header-name-col {
  width: 40%;
}

.fraud-header-description-col {
  width: 60%;
}

ol.connection-method-list {
  list-style-type: upper-alpha;
}

// APIS-3257
tbody {
    vertical-align: top;
}
td {
    vertical-align: top;
}

pre, code {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.list-letter-lower {
    list-style-type: lower-alpha;
    padding-left: 20px;
}

.list-letter-upper {
    list-style-type: upper-alpha;
    padding-left: 20px;
}

// Show side navigation on monile phone - discuss with Rory about a better solution to this, a sub navigation responsive menu
.side-nav {
  display: block;
}

// remove arrows as they work poorly on a screenreader
.side-nav__link:after {
  content: "";
}

// APIS-3807 - override hover style on left nav so it passes accessibility colour contrast tests
.side-nav__link:hover {
  background-color: #fff;
  text-decoration: underline;
}

// Remove sub navigation right border on a mobile phone
.side-nav {
  border-right: none;
}

// Add sub navigation right border back in for desktop application. uses breakpoint defined in GOV UK frontend toolkit.
@media(min-width: 769px) {
  .side-nav {
    border-right: 1px solid #bfc1c3;
  }
}

@media (min-width: 641px) {
    .column-three-quarters {
        float: left;
        width: 75%;
    }
}

.column-three-quarters {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.side-nav__link {
    padding: 12px 15px 8px 15px;
}

.underline {
  text-decoration: underline !important;
}

.breadcrumbs {
  width: 70%;
  display: inline-block;
}

.version-container {
  vertical-align: middle;

  form {
    display: flex;
    justify-content: space-between;
    width: auto;

    select {
      margin-right: 1rem;
      width: 100%;
    }
  }
}

.api-list {
  .api-group {
    font-weight: 700;
  }

  .service-tag {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-left: -1rem;
    min-width: 145px;
    padding: .5rem;
    text-align: center;
    width: 100%;

    &--e2e {
      background-color: #e7a09e;
    }

    &--rest {
      background-color: #a3c5df;
    }

    &--roadmap {
      background-color: #c4ccaa;
    }

    &--test {
      background-color: #c39ac2;
    }

    &--xml {
      background-color: #fbe0af;
    }
  }

  tbody {
    border-top: 3px solid #bfc1c3;
  }

  tr {
    border-top: 1px solid #bfc1c3;
  }
}

.filter-container {
  background: #f8f8f8;
  margin: 3rem 0;
  padding: 4rem 2rem;

  .govuk-select {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    padding: 5px;
    border: 2px solid #0b0c0c;
    width: 100%;
  }

  .govuk-form-group {
    margin-bottom: 2rem;
  }
}
