// API Version drop down box - to be fixed
#content {
  position: relative;
}

.form-control-version {
  font-size: 16px;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  .form-control-version {
    width: 100%;
    margin: 0.333em 0;
  }
}



// APIS-1079 - Add margin to bottom of bullets.
.bullets + p {
  margin-top: 1.2em;
}

.service-info {
  .header__menu__proposition-links {
    margin-top: 0em;
  }
}



// APIS-1066 - Override javascript added class hiding top mobile menu toggle
.js .js-header-toggle.menu.js-hidden {
  display: block !important;
}


.header__menu .header__menu__proposition-links {
    float: none;
}


.header__menu__proposition-links {
  padding-top: 0.75em;
  padding-bottom: 0.75em;

    .link-style {
        color: #005ea5;
        font-weight: normal;
        text-decoration: underline;
    }
}

.beta-banner .phase-tag {
    background-color: #005ea5;
}


.header__menu__proposition--sub-header {
    display: inline-block;
    float: right;
}


@media (min-width: 769px) {
  #global-header .header-proposition #proposition-links li {
    float: left;
    display: block;
    width: auto;
    padding: 0 15px 0 0;
    border-bottom: 0;
  }

  #global-header .header-proposition #proposition-links li.desktop-only {
    display: none;
  }

  #global-header .header-proposition #proposition-links li.clear-child {
    clear: left;
  }
}

@media (max-width: 769px) {
  .header__menu__proposition--sub-header {
    display: none;
  }
}

@media (min-width: 801px) {
  .header__menu__proposition--sub-header {
    display: inline-block;
    float: right;
    width: 25%;
  }
}

ol.connection-method-list {
  list-style-type: upper-alpha;
}

// APIS-3257
tbody {
    vertical-align: top;
}
td {
    vertical-align: top;
}

pre, code {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    background-color: #f8f8f8;
}

.list-letter-lower {
    list-style-type: lower-alpha;
    padding-left: 20px;
}

.list-letter-upper {
    list-style-type: upper-alpha;
    padding-left: 20px;
}

// Show side navigation on monile phone - discuss with Rory about a better solution to this, a sub navigation responsive menu
.side-nav {
  display: block;
}

// remove arrows as they work poorly on a screenreader
.side-nav__link:after {
  content: "";
}

.side-nav__link:visited {
  color: #1d70b8;
}

// Remove sub navigation right border on a mobile phone
.side-nav {
  border-right: none;
}

// Add sub navigation right border back in for desktop application. uses breakpoint defined in GOV UK frontend toolkit.
@media(min-width: 769px) {
  .side-nav {
    border-right: 1px solid #bfc1c3;
  }
}

@media (min-width: 641px) {
    .column-three-quarters {
        float: left;
        width: 75%;
    }
}

.column-three-quarters {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.side-nav__link {
    padding: 12px 15px 8px 15px;
}

.underline {
  text-decoration: underline !important;
}

.breadcrumbs {
  width: 70%;
  display: inline-block;
}

.version-container {
  vertical-align: middle;

  form {
    display: flex;
    justify-content: space-between;
    width: auto;

    select {
      margin-right: 1rem;
      width: 100%;
    }
  }
}

.govuk-tag {
  &--service-guide {
    color: #80224d !important;
    background: #f7d7e6 !important;
  }

  &--rest {
    color: #144e81 !important;
    background: #d2e2f1 !important;
  }

  &--roadmap {
    color: #3d2375 !important;
    background: #dbd5e9 !important;
  }

  &--test {
    color: #6e3619 !important;
    background: #fcd6c3 !important;
  }

  &--xml {
    color: #594d00 !important;
    background: #fff7bf !important;
  }
}

.api-list {
  .api-group {
    font-weight: 700;
  }

  tbody {
    border-top: 3px solid #bfc1c3;
  }

  tr {
    border-top: 1px solid #bfc1c3;
  }
}

.filter-container {
  background: #f8f8f8;
  padding: 2rem 1rem;
  margin: 1rem 0;

  .govuk-select {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    padding: 5px;
    border: 2px solid #0b0c0c;
    width: 100%;
  }

  .govuk-form-group {
    margin-bottom: 2rem;
  }
}

@media (min-width: 40.0625em) {
  .filter-container {
    padding: 2rem 2rem 1rem 2rem;
    margin: 2rem 0;
  }
}

.warning-icon-fix {
  display: flex;
  align-items: center;
}

.warning-icon-ui-fix {
  margin-top: 0;
  box-sizing: unset;
}

.thumbnail img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: 5px solid rgba(11, 12, 12, 0.1);
  margin-bottom: 2rem;
}

.thumbnail {
  display:  block;
  background-color: white;
  width: 50%;
  height: auto;
}

.attachment-details h2 {
  font-size: 27px;
  line-height: 1.1111111111;
  font-weight: 400;
  margin: 0;
}

.section--branded {
  a {
    &:visited {
      color: #005ea5;
    }

    &:hover {
      color: #2b8cc4;
    }
  }
}

.govuk-get-help-container {
  padding-top: 35px;
}

.visually-hidden {
  display: none;
}

.markdown-text-styles {
  word-wrap: break-word;
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  font-family: "GDS Transport",Arial,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  margin-top: 0;
  section {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    font-family: "GDS Transport",Arial,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
  }
  a:link {
    color: #1d70b8;
  }
  a:hover {
    color: #003078;
  }
  a:active {
    color: #0b0c0c;
  }
  a:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
    text-decoration: none;
  }
  ul {
    font-family: "GDS Transport",Arial,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    color: #0b0c0c;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.25;
    padding-left: 20px;
    list-style-type: disc;
  }
  ol {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #0b0c0c;
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 0;
    padding-left: 20px;
    list-style-type: decimal;
  }
  table {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
  }
  th {
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #b1b4b6;
    text-align: left;
    vertical-align: top;
    font-weight: 700;
  }
  td:last-child {
    padding-right: 0;
  } 
}

@media (min-width: 40.0625em) {
  .markdown-text-styles {
    margin-bottom: 20px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    ul {
      margin-bottom: 20px;
      font-size: 1.1875rem;
      line-height: 1.31579;
    }
    ol {
      font-size: 1.1875rem;
      line-height: 1.31579;
      margin-bottom: 20px;
    }
    section {
      margin-bottom: 15px;
      font-size: 1.1875rem;
      line-height: 1.31579;
      color: #0b0c0c;
      font-family: "GDS Transport",Arial,sans-serif;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
    }
    table {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579;
    }
  }
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.version-select {
  width: 80%;
}

.method-container {
  display: flex;
  justify-content: space-between;
}

.subnav {
  display: flex;
  &-auth {
    display: none;
  }
  &-margins {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 40.0625em) {
  .subnav {
    &-auth {
      display: flex;
      align-items: center;
      margin: 0 !important;
      margin-left: auto !important;
      & > *:first-child {
        padding-right: 15px;
      }
    }
  }
}

.word-break {
  word-wrap: anywhere;
}

.auth-links {
  display: block !important;
}

@media (min-width: 40.0625em) {
  .auth-links {
    display: none !important;
  }
}

.preview-yaml-button {
  display: block;
  a {
    margin-left: 0;
  }
}

@media (min-width: 40.0625em) {
  .preview-yaml-button {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    a {
      margin-left: 15px;
    }
  }
}
