/* Fixing colour-contrast accessibility issues */
h5 {
  color: rgb(51, 51, 51) ! important;
}
li.tab-error {
  color: rgb(255, 140, 140) ! important;
}
.security-details li code {
  color: rgb(200, 0, 0) ! important;
  background-color: white ! important;
}

.menuButton:focus {
  border: 1px solid rgb(0, 101, 251);
}