/* Fixing lack of space before subheadings */
h2 {
  padding-top: 20px;
}

/* Fixing colour-contrast accessibility issues */
h5 {
  color: rgb(51, 51, 51) ! important;
}
li.tab-error {
  color: rgb(255, 140, 140) ! important;
}
.security-details li code {
  color: rgb(200, 0, 0) ! important;
  background-color: white ! important;
}

/* Highlight button that is used to display menu on mobile devices, when it has focus */
.menuButton:focus {
  border: 1px solid rgb(0, 101, 251);
}

@media (forced-colors: active) {
  /* Styles here apply to Windows High Contrast Mode */
  div.menu-content label.active,
  button.responseCodeButton,
  div.react-tabs__tab-panel button:not(.collapser):focus {
    border: 1px solid;
  }
}
